<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firebaseemailpasswordexample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.appproccontact.recyclerView.DetailsBoulanger"/>
        <activity android:name="com.appproccontact.recyclerView.DetailsMedecin" />
        <activity android:name="com.appproccontact.recyclerView.DetailsJardinier" />
        <activity android:name="com.appproccontact.recyclerView.MyAdapterJardinier" />
        <activity android:name="com.appproccontact.recyclerView.MedecinActivity" />
        <activity android:name="com.appproccontact.recyclerView.BoulangerActivity" />
        <activity android:name="com.appproccontact.recyclerView.JardinierActivity" />
        <activity android:name="com.appproccontact.SearchActivity" />
        <activity android:name="com.appproccontact.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.appproccontact.LoginActivity" />
        <activity android:name="com.appproccontact.RegistrationActivity" />
    </application>

</manifest>